<section class="slider dark">
  <div class="container">
    <div class="carousel slide" data-bs-ride="carousel" id="carousel-1">
      <div class="carousel-inner"
    
      >
        <div
          *ngFor="let img of imgs; index as idx"
          class="carousel-item animated fadeIn faster "
          [class.active]="idx == idxSlide"
         
        >
          <img class="w-100 d-block" [src]="img" alt="idx" />
        </div>
      </div>

      <div>
        <a
          class="carousel-control-prev"
          (click)="prevSlide()"
          data-bs-slide="prev"
          *ngIf="idxSlide > 0"
          ><span class="carousel-control-prev-icon"></span
          ><span class="visually-hidden">Previous</span></a
        ><a
          *ngIf="idxSlide < imgs.length - 1"
          class="carousel-control-next"
          (click)="nextSlide()"
          ><span class="carousel-control-next-icon"></span
          ><span class="visually-hidden">Next</span></a
        >
      </div>
      <ol class="carousel-indicators">
        <ng-container *ngFor="let i of imgs; index as idxs">
          <li
            data-bs-target="#carousel-1"
            (click)="changeTo(idxs)"
            [class.active]="idxs == idxSlide"
          ></li>
        </ng-container>
      </ol>
    </div>
  </div>
