<section class="clean-block clean-related-items">
  <h3>Productos Realacionados</h3>
  <div class="items">
    <div class="row justify-content-center">
      <div class="col-sm-6 col-lg-4">
        <div class="clean-related-item">
          <div class="image">
            <a href="#"
              ><img
                class="img-fluid d-block mx-auto"
                src="assets/img/products/cyrus-crossan-BAQPTB2D5NM-unsplash.jpg"
            /></a>
          </div>
          <div class="related-name">
            <a href="#">Arveja</a>
            <div class="rating">
              <img src="assets/img/star.svg" /><img
                src="assets/img/star.svg"
              /><img src="assets/img/star.svg" /><img
                src="assets/img/star-half-empty.svg"
              /><img src="assets/img/star-empty.svg" />
            </div>
            <h4>$300</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>  