@import "../../../assets/boostrap_custom.scss";

.message-error {
  animation: a 2s linear;
  border-radius: 5px;
  font-size: 0.75rem;
  color: red;
}

@keyframes a {
  0% {
    color: rgba($color: red, $alpha: 0);
  }

  10% {
    color: rgba($color: red, $alpha: 0.5);
  }
  50% {
    color: rgba($color: red, $alpha: 1);
  }
  75% {
    color: rgba($color: red, $alpha: 0.5);
  }

  100% {
    color: rgba($color: red, $alpha: 1);
  }
}

.fade-rigth {
}
.fade-left {
}
