<nav
  class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar"
>
  <div class="container">
    <a id="brand-logo" class="navbar-brand logo" [routerLink]="'/home'">
      <img
        src="./assets/img/logos/logo-st.png"
        width="auto"
        height="50"
        alt="Agrofrost Logo"
      />
      <div id="brand-logo-texto">
        <div>Agrofrost</div>
        <div id="eslogan">
          Conectando el agro <br />
          con el mundo
        </div>
      </div>
    </a>

    <button
      data-bs-toggle="collapse"
      class="navbar-toggler"
      data-bs-target="#navcol-1"
      [ngClass]="{'collapsed': navbarOpen}"
      (click)='toggleNavbar()'
    >
      <span class="visually-hidden">Toggle navigation</span
      ><span class="navbar-toggler-icon" ></span>
    </button>

    <div class="collapse navbar-collapse" id="navcol-1"
    [ngClass]="{'show': !navbarOpen}"
    (click)='toggleNavbar()'>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngFor="let path of paths">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="path.path"
            [routerLinkActive]="'active'"
            >{{ path.name }}</a
          >
          
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/p'"> Privado</a>
        </li>

        <ng-container *ngIf=" !isLogin  else logoutOption">
          <li class="nav-item" >
            <a class="btn-outline-primary primary nav-link active btn text-white"
            [routerLink]="'/singin'">
            Iniciar Sesión
            </a>
          </li>
          <li class="nav-item" >
            <a class="btn-outline-secondary secondary nav-link active btn text-white"
            [routerLink]="'/singup'">
            Registrarse
            </a>
          </li>
        </ng-container>
        
        <ng-template #logoutOption> 
          <button class="btn-outline-primary primary nav-link active btn text-white"
        (click) = "logout()"
        >
            Cerrar sesióm
          </button>
        </ng-template>
        
        <!-- <form class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </ul>
    </div>
  </div>
</nav>
