<nav
  class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar"
>
  <div class="container">
   
      <a id="brand-logo" class="navbar-brand logo"  [routerLink]="'/home'">
        <img src="./assets/img/logos/logo-st.png" width="auto" height="50" alt="Agrofrost Logo" />
        <div id="brand-logo-texto">
          <div>
            Agrofrost
          </div>
          <div id="eslogan">
            Conectando el agro <br>
            con el mundo
          </div>
        </div>
        </a>
     
    <button
      data-bs-toggle="collapse"
      class="navbar-toggler"
      data-bs-target="#navcol-1"
    >
      <span class="visually-hidden">Toggle navigation</span
      ><span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngFor="let path of paths">
          <a
            class="nav-link active"
            aria-current="page"
            [routerLink]="path.path"
            >{{ path.name }}</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/p'"> Privado</a>
        </li>

        <li class="nav-item" *ngFor="let auth of auths">
          <a
            class="nav-link active btn btn-outline-primary"
            aria-current="page"
            [routerLink]="auth.path"
            >{{ auth.name }}</a
          >
        </li>
        <!-- <form class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </ul>
    </div>
  </div>
</nav>