<footer class="page-footer dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h5>Más visitados</h5>
        <ul>
          <li><a [routerLink]="['/home']" >Inicio</a></li>
          <li><a [routerLink]="['/singup']" >Regístrate</a></li>
          <li><a [routerLink]="['/singin']" >Ingresa</a></li>
          <!-- <li><a [routerLink]="['/home']" >Vende</a></li> -->
          <!-- <li><a [routerLink]="['/home']" >Compra</a></li> -->
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Sobre Nosotros</h5>
        <ul>
          <li><a [routerLink]="['/about']" >Información de la empresa</a></li>
          <li><a [routerLink]="['/contactus']" >Contáctanos</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Soporte al cliente</h5>
        <ul>
          <!-- <li><a [routerLink]="['/home']" >Preguntas y respuestas frecuentes (FAQ)</a></li> -->
          <li><a [routerLink]="['/contactus']" >Mesa de ayuda</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Términos y condiciones</h5>
        <ul>
          <!-- <li><a [routerLink]="['/home']" >Términos de sericio</a></li> -->
          <li><a [routerLink]="['/terms']" >Términos y condiciones de uso </a></li>
          <!-- <li><a [routerLink]="['/home']" >Politíca de privadicidad</a></li> -->
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>© 2021 Agrofrost SAS</p>
  </div>
</footer>
