<main class="page pricing-table-page">
  <section class="clean-block clean-pricing dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Planes</h2>
        <p>Conoce nuestros planes, con ellos podras mejorar tu visibilidad</p>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-5 col-lg-4">
          <div class="clean-pricing-item plan">
            <div class="heading">
              <h3>Basico</h3>
            </div>
            <p>
              Ideal cuando se esta planificando las cosechas, <br />
              "No tengo prisa"
            </p>
            <div class="features">
              <h4>
                <span class="feature"> Primeros puestos: </span><span>No</span>
              </h4>
              <h4>
                <span class="feature">Duración :&nbsp;</span><span>7 Dias</span>
              </h4>
              <h4>
                <span class="feature">Anuncios maximos:&nbsp;</span
                ><span>2</span>
              </h4>
            </div>
            <div class="price">
              <h4>$25.000 COP</h4>
            </div>
            <button class="btn btn-outline-primary d-block w-100" type="button">
              Comprar
            </button>
          </div>
        </div>
        <div class="col-md-5 col-lg-4">
          <div class="clean-pricing-item plan">
            <div class="ribbon"><span>Más comprando</span></div>
            <div class="heading">
              <h3>Producción media</h3>
            </div>
            <p>
              Quieres que tu anuncio destaque, ideal cuando se requiere hacer
              negocio a corto tiempo
            </p>
            <div class="features">
              <h4>
                <span class="feature">Primeros puestos:&nbsp;</span
                ><span>Si</span>
              </h4>
              <h4>
                <span class="feature">Duracion: &nbsp;</span><span>7 Dias</span>
              </h4>
              <h4>
                <span class="feature">Anuncios maximos:&nbsp;</span
                ><span>3</span>
              </h4>
            </div>
            <div class="price">
              <h4>$75.000 COP</h4>
            </div>
            <button class="btn btn-primary d-block w-100" type="button">
              Comprar
            </button>
          </div>
        </div>
        <div class="col-md-5 col-lg-4">
          <div class="clean-pricing-item plan">
            <div class="heading">
              <h3>Grandes productores / empresas</h3>
            </div>
            <p>

              Es importante para tu negocio tener aliados comerciales
            </p>
            <div class="features">
              <h4>
                <span class="feature">Primeros puestos:&nbsp;</span
                ><span>Si</span>
              </h4>
              <h4>
                <span class="feature">Duracion:&nbsp;</span><span>7 Dias</span>
              </h4>
              <h4>
                <span class="feature">Anuncios Maximos:&nbsp;</span
                ><span>10</span>
              </h4>
            </div>
            <div class="price">
              <h4>$150.000 COP</h4>
            </div>
            <button class="btn btn-outline-primary d-block w-100" type="button">
              Comprar
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
