<main class="page">
  <section class="clean-block about-us">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Sobre nosotros</h2>
        <p>Te invitamos a conocer un poco sobre nosotros</p>
      </div>

      <div class="row justify-content-center animated zoomIn">
        <div class="col-sm-12 col-lg-8">
          <div class="card text-center clean-card">
            <div class="a-brand-logo p-5">
              <img src="./assets/img/logos/logo-st.png" alt="Agrofrost Logo" />
              <div id="brand-logo-texto">
                <div>Agrofrost</div>
                <div id="eslogan">
                  Conectando el agro <br />
                  con el mundo
                </div>
              </div>
            </div>

            <div class="card-body info">
              <!-- <h2 class="card-title">Agrofrost</h2> -->
              <p class="card-text p-5 pt-0">
                Agrofrost S.A.S es la iniciativa que pretende proporcionar un
                canal directo para incentivar la participación en el sector
                agro, disminuyendo los eslabones en la cadena de producción y
                comercialización. No va solo dirigido a la cosecha sino en el
                tratamiento de la materia prima para el control de recursos y la
                concepción de un modelo de negocio donde los intermediarios no
                sean los únicos que puedan exponer sus puntos de vista, si no
                que sea una red de contactos donde se puedan dar a conocer y
                generar alianzas.
              </p>
              <p class="card-text p-5 pt-0">
                Esta iniciativa se plantea como una alternativa para fortalecer
                la agricultura, en el contexto de la reactivación económica tras
                la emergencia de salud pública a causa del COVID-19, teniendo
                como objetivo el bienestar de la sociedad colombiana,
                especialmente a aquellos que no cuenta con el apoyo del gobierno
                ni con los medios suficientes para publicitar y comercializar
                sus productos y servicios.
              </p>
              
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-4">
        <div class="col-sm-6 col-lg-4 animated fadeInDown">
          <div class="card text-center clean-card">
            <img
              class="card-img-top w-100 d-block"
              src="assets/img/avatars/fotoAlejandro.png"
            />
            <div class="card-body info">
              <h4 class="card-title">Diego Hernandez</h4>
              <p class="card-text">
                Persona apasionada por la tecnología, se ha desempeñado como
                instructor de programación, posee conocimientos de desarrollo
                web. Sera el CEO (que en español significa 'Oficial Ejecutivo en
                jefe'. El cual tiene la mayor autoridad en la jerarquía
                operacional de una organización.
              </p>

              <div class="icons">
                <a href="#"><i class="icon-social-facebook"></i></a
                ><a href="#"><i class="icon-social-instagram"></i></a
                ><a href="#"><i class="icon-social-twitter"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 animated fadeInDown">
          <div class="card text-center clean-card">
            <img
              class="card-img-top w-100 d-block"
              src="assets/img/avatars/fotoOscar3.png"
            />
            <div class="card-body info">
              <h4 class="card-title">Oscar Bautista</h4>
              <p class="card-text">
                Persona curiosa, interesado por las nuevas tecnologías y hacer
                de estas una herramienta más para el hombre. Interesado por
                estar en constante aprendizaje. Desempañara el puesto como
                director de informática (CIO) y de tecnología (CTO).
              </p>
              <div class="icons">
                <a href="#"><i class="icon-social-facebook"></i></a
                ><a href="#"><i class="icon-social-instagram"></i></a
                ><a href="#"><i class="icon-social-twitter"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
