agm-map {
  height: 200px;
}


.info div{
  margin-top: 10px;
}

.caracteristica {
  margin-top: 5px;
}

.caracteristicas .fas, i::before{
  padding-right: 10px;
}

.caracteristicas .fa-check {
  color: green;
}
.caracteristicas .fa-ban {
  color: red;
}
