<main class="page product-page">
  <section class="clean-block clean-product dark">
    <div class="container">
      <app-spinner *ngIf="!dataIsLoaded"> </app-spinner>

      <div *ngIf="dataIsLoaded">
        <div class="block-heading">
          <h2 class="text-info">{{ post.cultivo_info.cultivo }}</h2>

          <h4
            *ngIf="
              post.cultivo_info.cultivo !=
              post.cultivo_info.desagregaci_n_regional_y
            "
          >
            <strong>Otros nombres: </strong>
            {{ post.cultivo_info.desagregaci_n_regional_y | titlecase }}
          </h4>
          <h5>
            <strong>Grupo:</strong>
            {{ post.cultivo_info.grupo_de_cultivo | titlecase }}
          </h5>
          <!-- <p>
  
        </p> -->
        </div>
        <div class="block-content">
          <div class="row">
            <div class="col-xs-12">
              <app-slider [imgs]="post.imgs"></app-slider>
            </div>
          </div>

          <div class="row mt-5">
            <div class="col-xs-12 col-md-4 info">
              <div class="precio">
                <strong> Precio: </strong>
                {{ post.precio | currency: "COP":"symbol-narrow":"3.0-0" }}
                x Kg
              </div>
              <div class="cantidad">
                <strong> Cantidad: </strong>
                {{ post.cantidad }}
                Kg
              </div>

              <div class="descripcion">
                <strong> Descripción: </strong>
                <p>
                  {{ post.descripcion }}
                </p>
              </div>
              <div class="caracteristicas">
                <div class="caracteristica">
                  <i class="fas fa-shipping-fast">Transporte </i>
                  <i
                    *ngIf="post.caracteristicas.transporte"
                    class="fas fa-check"
                  ></i>
                  <i
                    *ngIf="!post.caracteristicas.transporte"
                    class="fas fa-ban"
                  ></i>
                </div>

                <div class="caracteristica">
                  <i class="fas fa-leaf">Oragnico</i>
                  <i
                    *ngIf="post.caracteristicas.organico"
                    class="fas fa-check"
                  ></i>
                  <i
                    *ngIf="!post.caracteristicas.organico"
                    class="fas fa-ban"
                  ></i>
                </div>

                <div class="caracteristica">
                  <i class="fas fa-plane-departure">Exportación</i>
                  <i
                    *ngIf="post.caracteristicas.organico"
                    class="fas fa-check"
                  ></i>
                  <i
                    *ngIf="!post.caracteristicas.organico"
                    class="fas fa-ban"
                  ></i>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-md-4 info">
              <div>
                <strong> Ubicacion: </strong>
                {{ post.ubicacion.municipio }} -
                {{ post.ubicacion.departamento }}
              </div>
              <div>
                <agm-map
                  [latitude]="post.ubicacion.geolocalizacion.lat"
                  [longitude]="post.ubicacion.geolocalizacion.lng"
                  [zoom]="10"
                  [maxZoom]="12"
                  [minZoom]="9"
                  [usePanning]="true"
                >
                  <!-- TODO:Auto direecionar al municipio por medio del mapa  -->

                  <agm-marker
                    [latitude]="post.ubicacion.geolocalizacion.lat"
                    [longitude]="post.ubicacion.geolocalizacion.lng"
                    [markerDraggable]="false"
                  >
                  </agm-marker>
                </agm-map>
              </div>
            </div>

            <div class="row mt-5">
              <button class="btn btn-primary w-100" type="button">
                <i class="icon-basket"></i>Contactar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <app-related-items></app-related-items> -->
</main>
