<main class="page mt-4 pt-4">
    <section class="clean-block clean-form dark">

    <!-- Three columns of text below the carousel -->
    <div class="row mt-4 pt-4">
      <div class="col-sm-12 col-lg-4 text-center opcion">
        <img class="rounded-circle" src="../../../assets/img/iconos/usuario.png" >

        <h2> Perfil</h2>
        <p>Ingresa y modifica tu información basisca y de contacto</p>
        <p><a class="btn btn-secondary" [routerLink]="'/posts'">Actualizar información</a></p>
      </div>
      <div class="col-sm-12 col-lg-4 text-center opcion">
          <img class="rounded-circle" src="../../../assets/img/iconos/curriculum.png" >
          
          <h2>Tus  publicaciones</h2>
          <p>Aqui podras ver, actualizar y eliminar las ofertas y demandas de productos agricolas que hallas realizado</p>
          <p><a class="btn btn-secondary" [routerLink]="'/posts'">Administrar publicaciones »</a></p>
        </div>
        <div class="col-sm-12 col-lg-4 text-center opcion">
        <img class="rounded-circle" src="../../../assets/img/iconos/buscar.png   " >

        <h2>Compra</h2>
        <p>Ve las ofertas que otros usarios tienene para ti</p>
        <p><a class="btn btn-secondary" [routerLink]="'/posts'" >Ver ofertas »</a></p>
      </div>
    
    </div><!-- /.row -->


    </section>
</main>