 @import 'src/boostrap_custom';

 .opcion{
     display: grid;
     justify-items: center;
     align-items: center;

 }

.opcion img{
    //width: 100px;
    background-color: white;
    padding: 10px;
    height: 100px;
    border: $color-verde-claro 2px double;
}


.descripcion{
   display: flex ;
    min-height: 4rem;
    margin-left:  50px;
    margin-right:  50px;
    align-items: center;
}