<main class="page login-page mt-4 pt-4">
  <section class="clean-block clean-form dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Publicación</h2>
        <p>
          Para mejoerar tu visbilidad te recomendamos ver nuestros
          <a class="text-info" [routerLink]="'/pricing'"> Planes</a>
        </p>
      </div>
      <form autocomplete="off" [formGroup]="forma">
        <fieldset>
          <div class="mb-3">
            <p class="form-label">Tipo de publicación</p>
            <div class="form-check form-check-inline">
              <label class="form-check-label">Compra</label>
              <input
                class="form-check-input"
                type="radio"
                value="Compra"
                formControlName="tipo_post"
              />
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">Vende</label>
              <input
                class="form-check-input"
                type="radio"
                value="Vende"
                formControlName="tipo_post"
              />
              <div class="form-check form-check-inline mx-2">
                <label class="form-check-label">Contrato para cultivar</label>
                <input
                  class="form-check-input"
                  type="radio"
                  value="Contrato para cultivar"
                  formControlName="tipo_post"
                />
              </div>
            </div>
            <div *ngIf="campoEsInvalido('tipo_post')" class="message-error">
              Debe ingresar un valor valido
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="product">Producto</label
            ><input
              class="form-control item"
              type="text"
              formControlName="cultivo"
              (input)="teclaPresionada()"
              [value]="forma.get('cultivo')?.value | cultivoPipe "
              [class.is-invalid]="campoEsInvalido('cultivo')"
            />
            <div *ngIf="campoEsInvalido('cultivo')" class="message-error">
              Debe ingresar un valor valido
            </div>
            <button
              *ngIf="cultivoSeleccionado"
              class="btn btn-primary mt-3 w-100"
              (click)="cambiarTermino()"
            >
              Cambiar
            </button>
            <div *ngIf="cultivoSeleccionado === null">
              <button
                type="button"
                class="btn btn-primary mt-3 w-100"
                (click)="buscarPorTermino()"
              >
                Buscar
              </button>
              <table
                class="table table-hover"
                *ngIf="cultivos.length > 0; else noResultados"
              >
                <thead>
                  <tr>
                    <th><abbr title="Producto">Producto</abbr></th>
                    <th>
                      <abbr title="Grupo de cultivo">Grupo de cultivo</abbr>
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <tr
                    *ngFor="let cultivo of cultivos"
                    (click)="selectProducto(cultivo)"
                  >
                    <td>
                      {{ cultivo.desagregaci_n_regional_y | titlecase }}
                    </td>
                    <td>
                      {{ cultivo.grupo_de_cultivo | titlecase }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <ng-template #noResultados>
              <div *ngIf="hayError" class="message-error mt-3">
                No hay resultados para : {{ termino }}
              </div>
            </ng-template>
          </div>
          <div class="mb-3">
            <label class="form-label" for="product">Descripción</label>
            <textarea
              class="form-control item"
              type="text"
              spellcheck="true"
              formControlName="descripcion"
              [class.is-invalid]="campoEsInvalido('descripcion')"
            ></textarea>

            <div *ngIf="campoEsInvalido('descripcion')" class="message-error">
              Debe ingresar un valor valido
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="cantidad"
              >Cantidad (Disponible / Requerida) (kilogramos)</label
            >

            <input
              class="form-control item"
              type="number"
              formControlName="cantidad"
              (keypress)="onKeyPressOnlyNumbers($event)"
              [class.is-invalid]="campoEsInvalido('cantidad')"
            />
            <div *ngIf="campoEsInvalido('cantidad')" class="message-error">
              Debe ingresar numerico superior a 0
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="precio">
              Precio (x kilogramos)</label
            >
            <input
              class="form-control item"
              type="text"
              formControlName="precio"
              (keypress)="onKeyPressOnlyNumbers($event)"
              [class.is-invalid]="campoEsInvalido('precio')"
            />
            <div *ngIf="campoEsInvalido('precio')" class="message-error">
              Debe ingresar un precio, superior 0
            </div>
          </div>
          <div class="mb-3">
            <p class="form-label">
              ¿Requiere servicio para transportar los productos?
            </p>
            <div class="form-check form-check-inline">
              <label class="form-check-label">Si</label>
              <input
                class="form-check-input"
                type="radio"
                value="Si"
                formControlName="transporte"
              />
            </div>
            <div class="form-check form-check-inline">
              <label class="form-chkeck-label">No</label>
              <input
                class="form-check-input"
                type="radio"
                value="No"
                formControlName="transporte"
              />
            </div>
            <div *ngIf="campoEsInvalido('transporte')" class="message-error">
              Debe indicar si requiere servicio de transporte
            </div>
          </div>
          <div class="mb-3">
            <p
              class="form-label"
              [class.text-danger]="campoEsInvalido('organico')"
            >
              ¿Porducto organico?
            </p>
            <div class="form-check form-check-inline">
              <label class="form-check-label">Si</label>
              <input
                class="form-check-input"
                type="radio"
                value="Si"
                formControlName="organico"
              />
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">No</label>
              <input
                class="form-check-input"
                type="radio"
                value="No"
                formControlName="organico"
              />
            </div>
            <div *ngIf="campoEsInvalido('organico')" class="message-error">
              Selecciona si el producto es catalagodado como producto tratado
              organicamente
            </div>
          </div>
          <div class="mb-3">
            <hr class="my-5" />
            <div class="text-center">
              <h3 class="text-info">Imagenes</h3>
              <p>
                La mejor forma de dar a conocer tus productos es dando a conocer
                tus productos, por ello recomendamos que ajuents por lo menos
                una imagen
              </p>
            </div>

            <ng-container *ngIf="imagenesBase64.length > 0; else noImagenes">
              <div *ngFor="let file of imagenesBase64" class="my-5">
                <img [src]="file" alt="" class="img-thumbnail" />
                <button
                  class="deleteImagen btn btn-danger"
                  (click)="eliminarImagen(file)"
                >
                  Eliminar
                </button>
              </div>
            </ng-container>
            <ng-template #noImagenes>
              <div class="text-center alert alert-warning">
                No se ha subido imagenes
              </div>

              <!-- <img src="./../../assets/placeholder.png" class="img-responsive"> -->
            </ng-template>
          </div>
        </fieldset>

        <div class="mt-2 my-5">
          <div
            *ngIf="imagenesBase64.length < 5"
            class="custom-file fileInputProfileWrap"
          >
            <div class="img-space">
              <input
                (change)="fileChangeEvent($event)"
                class="fileInputProfile"
                type="file"
              />
              <div id="newImagen" class="text-center">
                Click para subir imagen
                <p>Te quedan {{ 5 - imagenesBase64.length }}</p>
                <small *ngIf="imagenesBase64.length > 1"
                  >Si no quieres añadir más imagenes puedes pasar <br />la
                  siguiente sección</small
                >
              </div>
            </div>
          </div>
          <div class="message-error">
            {{ imageError }}
          </div>
        </div>

        <hr class="my-5" />
        <!-- <button
          type="button"
          class="btn btn-danger"
          (click)="insertarNuevaImagen()"
        >
          Añadir nueva imagen
        </button> -->

        <fieldset>
          <div class="text-center">
            <h3 class="text-info">Datos de referencia</h3>
            <p class="mb-5">Brindanos informacíon para ubicar el producto</p>
          </div>

          <div class="mb-3">
            <label class="form-label" for="municipio">Municipio</label>
            <select
              class="form-control item"
              type="text"
              id="municipio"
              formControlName="municipio"
              [disabled]="municipios.length === 0"
              [class.is-invalid]="campoEsInvalido('municipio')"
            >
              <option *ngFor="let item of municipios" [value]="item">
                {{ item }}
              </option>
            </select>

            <div *ngIf="campoEsInvalido('municipio')" class="message-error">
              Debe seleccionar un municipio de la lista
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="direccion">Dirección</label>
            <input
              class="form-control item"
              type="text"
              formControlName="direccion"
              [class.is-invalid]="campoEsInvalido('direccion')"
            />
            <div *ngIf="campoEsInvalido('direccion')" class="message-error">
              Debe ingresesar, una direccion o nombre de finca
            </div>
          </div>

          <div class="mb-3">
            <agm-map
              (mapClick)="colocarCoordenada($event)"
              [latitude]="market.lat"
              [longitude]="market.long"
              [usePanning]="true"
            >
              <!-- TODO:Auto direecionar al municipio por medio del mapa  -->

              <agm-marker
                [latitude]="market.lat"
                [longitude]="market.long"
                [markerDraggable]="true"
                (dragEnd)="markerDragEnd($event)"
              >
                <agm-info-window>
                  <strong>Ubicación</strong>
                  <p>
                    {{ address }}
                  </p>
                  <p>
                    <small>Latitude: {{ market.lat }}</small>
                  </p>
                  <p>
                    <small>Longitud: {{ market.long }}</small>
                  </p>
                </agm-info-window>
              </agm-marker>
            </agm-map>
          </div>
        </fieldset>
        <div class="mb-3 mt-3">
          <label class="form-label" for="celular"> Numero Celular</label>
          <br />
          <small class="small"
            >(Sera visble unicamente para usuarios Regitrados)</small
          >
          <input
            class="form-control item"
            type="text"
            formControlName="celular"
            (keypress)="onKeyPressOnlyNumbers($event)"
            [class.is-invalid]="campoEsInvalido('celular')"
          />
          <div *ngIf="campoEsInvalido('celular')" class="message-error">
            Debe ingresar un numero de contacto
          </div>
        </div>
        <button
          class="btn btn-primary mt-3 w-100"
          type="submit"
          (click)="savePost()"
        >
          Publicar
        </button>
      </form>
    </div>
    {{ forma.value | json }}
    <hr />
    <!-- {{ imagenes.value | json }} -->
  </section>
</main>
