  <main class="page">
  <section class="clean-block features">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Características</h2>
        <p>
          Agrofrost te ofrece 
        </p>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-5 feature-box text-center">
          <i class="icon-star icon"></i>
          <h4>Publicación Gratuita</h4>
          <p>
            Podrás publicar de forma gratuita, los productos agrícolas que estés vendiendo, comprando o donde necesites algún tipo de contrato
          </p>
          <p>
            <i class="fas fa-search-dollar fa-10x text-center"></i>
          </p>
        </div>
        <div class="col-md-5 feature-box text-center">
          <i class="icon-pencil icon"></i>
          <h4>Sin intermediarios</h4>
          <p>
            Ponte en contacto de forma directa con el usuario de la publicación  
          </p>
          <p>
            <i class="fas fa-people-arrows fa-10x"></i>
          </p>
        </div>
        <div class="col-md-5 feature-box text-center ">
          <i class="icon-screen-smartphone icon"></i>
          <h4>Al instante</h4>
          <p>
            Utilizamos tecnología de alta disponibilidad, por ello, tu publicación se verá al instante
          </p>
          <p>
            <i class="far fa-clock fa-10x"></i>
          </p>
        </div>
        <div class="col-md-5 feature-box text-center">
          <i class="icon-refresh icon"></i>
          <h4>Planes para aumentar tu visibilidad </h4>
          <p>
            Nuestros planes pueden mejorar la visibilidad de tu publicación
          </p>
          <p>
            <i class="far fa-gem fa-10x"></i>
          </p>
        </div>
      </div>
    </div>
  </section>
</main>


<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1885720016268385"
     crossorigin="anonymous"></script>
<!-- horizontal -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1885720016268385"
     data-ad-slot="7494266154"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
