<main class="page">
  <section class="clean-block features">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Caracteristicas</h2>
        <p>
          Agrofrost te ofrece 
        </p>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-5 feature-box">
          <i class="icon-star icon"></i>
          <h4>Publiación Gratuita</h4>
          <p>
            Podrás publicar de forma gratuita, los productos agrícolas que estes vendiendo, comprando o donde necesites algún tipo de contrato
          </p>
        </div>
        <div class="col-md-5 feature-box">
          <i class="icon-pencil icon"></i>
          <h4>Sin intermediarios</h4>
          <p>
            Ponte en contacto de forma directa con el usuario de la publicación  
          </p>
        </div>
        <div class="col-md-5 feature-box">
          <i class="icon-screen-smartphone icon"></i>
          <h4>Al instante</h4>
          <p>
            Utilizamos tecnología de alta disponibilidad, por ello, tu publicación se vera al instante
          </p>
        </div>
        <div class="col-md-5 feature-box">
          <i class="icon-refresh icon"></i>
          <h4>Planes para aumentar tu visibilidad </h4>
          <p>
            Nuestros planes pueden mejorar la visibilidad de tu publicación
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
