#brand-logo {
  display: flex;
  flex-direction: row;
}
#brand-logo-texto {
  padding-left: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  font-weight: bolder;
  :nth-last-child(1) {
    font-weight: normal;
    font-size: 0.6rem;
  }
}
nav {
  margin-bottom: 100px;
}

#barra{

  justify-content: center;
  
}

#barra ul{
 justify-content: space-around;
 align-items: center;
 margin: 0  !important;
 
}

.singIn-Up{

display: grid;
grid-template-columns: 1fr 1fr;
flex-flow: row;
justify-items: stretch;
}

.singIn-Up .nav-item{
  
  place-self: end stretch ;
  padding: 5px;
}
.singIn-Up .nav-item a{ 
  place-self: center stretch  ;
  padding: 10px;
}
